*.pyc
**/*.deps/
/.ccls-cache/
/*.pc
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/lttoolbox/.libs
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/missing

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/compile_commands.json
/lttoolbox/lt-comp
/lttoolbox/lt-proc
/lttoolbox/lt-trim
/lttoolbox/Makefile
/lttoolbox/Makefile.in
/lttoolbox/lt-tmxcomp
/lttoolbox/lt-print
/lttoolbox/stamp-h1
/lttoolbox/lttoolbox_config.h.in
/lttoolbox/lttoolbox_config.h
/lttoolbox/lt-tmxproc
/lttoolbox/lt-expand
/python/Makefile
/python/Makefile.in
/python/lttoolbox_wrap.cpp
/python/lttoolbox.py
/python/setup.py
/python/build*
*.egg-info/
*.egg
