*.pyc
/build*/
/.ccls-cache/
/*.pc
Makefile
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
lttoolbox/liblttoolbox.so.*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/compile_commands.json
/lttoolbox/lt-comp
/lttoolbox/lt-compose
/lttoolbox/lt-proc
/lttoolbox/lt-merge
/lttoolbox/lt-trim
/lttoolbox/Makefile
/lttoolbox/Makefile.in
/lttoolbox/lt-tmxcomp
/lttoolbox/lt-print
/lttoolbox/stamp-h1
/lttoolbox/lttoolbox_config.h.in
/lttoolbox/lttoolbox_config.h
/lttoolbox/lt-tmxproc
/lttoolbox/lt-expand
/lttoolbox/lt-append
/lttoolbox/lsx-comp
/lttoolbox/lsx-comp.1
/lttoolbox/lt-paradigm
/lttoolbox/lt-invert
/lttoolbox/lt-restrict
/lttoolbox/lt-apply-acx
/python/Makefile
/python/Makefile.in
/python/lttoolbox.i
/python/lttoolbox_wrap.cpp
/python/lttoolbox.py
/python/setup.py
/python/build*
*.egg-info/
*.egg
**/.mypy_cache/
*~
